c-rec-table {
    border-color: var(--slds-g-color-border-1);
    border-width: var(--slds-g-sizing-border-1);
    border-radius: var(--slds-g-radius-border-3);
    overflow: hidden;
    background: #FFFFFF;
    border-collapse: collapse;
}

/*c-rec-table-cell .slds-truncate,*/
c-rec-table-cell .rec-table__cell-url {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

lightning-file-upload {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    margin-bottom: -0.5rem;
}

lightning-button-group {
    align-self: center;
    margin-top: 0.5rem;
}