/* =========================
   Accordion Summary Background
   SLDS 변수 오버라이드
========================= */
lightning-accordion-section {
    --slds-c-accordion-summary-color-background: #f3f3f3;
}

/* =========================
   Currency Selector z-index Fix
========================= */
.currency-selector-wrapper {
    position: relative;
    z-index: auto;
}

.currency-warning-text {
    color: rgb(214, 18, 18);
    font-weight: 500;
    font-size: 1rem;
}
lightning-icon {
    position: relative;
    z-index: auto;
}